/* body styles */
body {
    text-align: center;
    background-color: #ffd8a6;
    font-family: arial, sans-serif;
}
h1 {
    color: blue;
    font-size: 60px;
}
h2 {
    color: #00109e;
    font-size: 30px;
}
p {
    margin: 30px;
    font-size: 12pt;
    line-height: 1.5;
    text-align: justify;
    padding: 5px;
    max-width: 800px;
}
ul {
    text-align: left;
    position: relative;
    left: 30%;
}   
ol {
    text-align: left;
    position: relative;
    left: 30%;
} 
.cool {
    font-size: 80px;
    color: orange;
    font-family: cursive;
}   
.PS {
    font-style: italic;
}
.button {
    background-color: #00109e;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}
/* Diagram basics */
.field {
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 10%;
    width: 600px;
    height: 400px;
    position: relative;
    left: 100px;
}
.car {
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 30px;
    position: absolute;
    color: blue;
}
.ball {
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 50%;
    background-color: grey;
}
.caption {
    width: 100px;
    height: 100px;
    position: absolute;
}
.orange {
    border-color: orange;
}
.blue {
    border-color: blue;
}
/* first diagram ids */
#kickOne { 
  top: 50px;
  left: 165px;
}
#kickTwo {
    bottom: 50px;
    left: 165px;
}
#kickThree {
    left: 75px;
    top: 135px;
}
#kickFour {
    left: 75px;
    bottom: 135px;
}
#kickFive {
    left: 10px;
    top: 170px;
}
/* Second diagram ids */
#exOne {
    top: 50px;
    left: 165px;
}
#exTwo {
    left: 75px;
    top: 135px;
}
#exThree {
    left: 10px;
    top: 170px;
}
/* third diagram ids */
#tieOne {
    left: 75px;
    top: 135px;
}
#tieTwo {
    left: 75px;
    bottom: 135px;
}
#tieThree {
    left: 10px;
    top: 170px;
}
