/* body styles */
body {
    text-align: center;
    background-color: #ffd8a6;
    font-family: arial, sans-serif;
}
h1 {
    color: blue;
    font-size: 60px;
}
h2 {
    color: #00109e;
    font-size: 30px;
}
p {
    margin: 30px;
    font-size: 12pt;
    line-height: 1.5;
}
ul {
    text-align: left;
    position: relative;
    left: 30%;
}   
ol {
    text-align: left;
    position: relative;
    left: 30%;
}    
/* Diagram basics */
.field {
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 10%;
    width: 600px;
    height: 400px;
    position: relative;
    left: 100px;
}
.car {
    border-color: blue;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 30px;
    position: absolute;
    color: blue;
}
.ball {
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 50%;
    background-color: grey;
}
.caption {
    width: 100px;
    height: 100px;
    position: absolute;
}
/* The codes for arrows are here: https://www.toptal.com/designers/htmlarrows/arrows/ 
.arrow {
    width: 40px;
    height: 40px;
    font-size: 30px;
    position: absolute;
}*/
/* first diagram ids */
#kickOne { 
  top: 50px;
  left: 165px;
}
#kickTwo {
    bottom: 50px;
    left: 165px;
}
#kickThree {
    left: 75px;
    top: 135px;
}
#kickFour {
    left: 75px;
    bottom: 135px;
}
#kickFive {
    left: 10px;
    top: 170px;
}
/* Second diagram ids */
#exOne {
    top: 50px;
    left: 165px;
}
#exTwo {
    left: 75px;
    top: 135px;
}
#exThree {
    left: 10px;
    top: 170px;
}
/* third diagram ids */
#tieOne {
    left: 75px;
    top: 135px;
}
#tieTwo {
    left: 75px;
    bottom: 135px;
}
#tieThree {
    left: 10px;
    top: 170px;
}
/*rotation diagram ids */
#defOne{  
    animation-name: rotationOne;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}
@keyframes rotationOne {
    0% {
        bottom: 0px;
        left: 150px;
    }
    33% {
        bottom: 250px;
        left: 0px;
    }
    67%{
        bottom: 100px;
        left: 0px;
    }
    100% {
        bottom: 0px;
        left: 150px;
    }
}
#defTwo {
    animation-name: rotationTwo;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}
@keyframes rotationTwo {
    0% {
        bottom: 100px;
        left: 0px;
    }
    33% {
        bottom: 0px;
        left: 150px;
    }
    67%{
        bottom: 250px;
        left: 0px;
    }
    100% {
        bottom: 100px;
        left: 0px;
    }
}
#defThree {
    animation-name: rotationThree;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}
@keyframes rotationThree {
    0% {
        bottom: 250px;
        left: 0px;
    }
    33% {
        bottom: 100px;
        left: 0px;
    }
    67%{
        bottom: 0px;
        left: 150px;
    }
    100% {
        bottom: 250px;
        left: 0px;
    }
}
#orangeOnBall {
    border-color: orange;
    left: 250px;
    bottom: 0px;
}
#dRotationBall {
    left: 200px;
    bottom: 0px;
}
#orangeCenter {
    left: 150px;
    bottom: 150px;
    border-color: orange;
}
#orangeBack {
    right: 150px;
    bottom: 100px;
    border-color: orange;
}
#bumpCap {
    top: 100px;
    left: 200px;
}
#backPostCap {
    top: 25px;
    left: 25px;
}
#frontPostCap {
    bottom: 0px;
    left: 10px;
}