body {
    text-align: center;
}
h1 {
    color: blue;
    font-size: 30px;
}
h2 {
    color: blue;
    font-size: 24px;
}
.field {
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 10%;
    width: 600px;
    height: 400px;
    position: relative;
    left: 100px;
}
.car {
    border-color: blue;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 30px;
}
#1-1 {
   position: relative;
   left: 200px;
   top: 50px; 
}
